/*box model hack*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body{
  background-color: #e74c3c;
  font-family: "rooney-web",sans-serif;
  line-height: 1.5;
  color: #ecf0f1;
  border-top: 10px solid #ecf0f1;
}

h1{
  font-family: "rooney-sans",sans-serif;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #fff;
  line-height: 1;
}

h3{
  font-family: "rooney-sans",sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  color: #fff;
  padding-left: 10px;
  line-height: 1;
}

h3.home-page{
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

h5{
  font-size: 2em;
  line-height: 1.3;
}

.button{
  font-family: "rooney-sans",sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #34495e;
  padding: 20px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 4px solid #2c3e50;
}

.button:hover{
  background-color: #2c3e50;
}

.about{
  margin-bottom: 40px;
}

.header{
  margin-top: 30px;
  text-align: center;
}

.header .button{
  margin: 0 auto;
}

.header a{
  text-decoration: none;
  color: #2c3e50;
}

.header p{
  margin-top: 10px;
}

.header a:hover{
  color: #ecf0f1;
}

table{
  font-family: "rooney-sans",sans-serif;
}

tr{
  border-top: 1px solid #ecf0f1;
}

/* PAGE TOP STYLES */
.page-top{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 4px solid #c0392b;
}

a h4{
  font-family: "rooney-sans",sans-serif;
  font-weight: 900;
  font-size: 1.4em;
  display: inline;
  color: white;
}

.page-top a{
  text-decoration: none;
}
.page-top a h4:hover{
  color: #34495e;
}

.switch{
  float: right;
  margin-top: 7px;
}

.switch ul li{
  display: inline;
}

.switch a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 10px;
}

.switch a:hover{
  color:#34495e;
}

/*VENUE STYLES*/

.venue{
  background-color: #ecf0f1;
  padding: 20px;
  color: #2c3e50;
  line-height: 1.35;
  margin-bottom: 25px !important;
  border-bottom: 4px solid #bdc3c7;
  border-radius: 3px;
  transition: .2s all;
  height: 650px;
}

.venue:hover{
  background-color: white;
  border-bottom-color: #ecf0f1;
}

.venue img{
  width: 100%;
}

.venue h2{
  font-family: "rooney-sans",sans-serif;
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1;
  text-transform: uppercase;
  margin: 10px 0;
}

.venue .button{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  transition: .2s all;  
}

.hours{
  margin-top: 10px;
  font-size: 14px;
}

.label{
  font-family: "rooney-sans",sans-serif;
  font-weight: 900; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 10px;
}

.tag{
  display: inline-block;
  margin-top: -10px;
}

.tag p{
  display: inline-block;
  font-family: "rooney-sans",sans-serif;
  font-weight: 900; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: #7f8c8d;
  padding: 7px;
  margin-bottom: 5px;
  background-color: #bdc3c7;
}

.tag p.yes{
  background-color: #27ae60;
  color: white;
}

.tag p.no{

}

.tagline{
  font-family: "rooney-sans",sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

footer{
  background-color: #ecf0f1;
  padding: 30px;
  font-size: 14px;
  margin-top: 60px;
  color: #7f8c8d;
}

.venue.home{
  height: auto;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.small-badge {
  width: 30px !important;
  display: inline-block;
  position: relative;
  top: 11px;
  margin-left: 3px;
}

.category-name{
  margin-left: 4px;
}

@media only screen and (max-width: 767px){
  .venue{
    height: auto;
  }
}


@media only screen and (max-width: 420px) { 
  h5{
    font-size: 1.5em;
  }
}
